#news-div {
  margin-top: 0;
  padding: 0 15vw 2vw 15vw;
  flex-direction: column;
  font-family: "Courier New", monospace;
}

#news-div > h1 {
  font-family: "Courier New", monospace;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

#news-div > h1 > a {
  text-decoration: none;
}

#news-div > h1 > a:hover {
  text-decoration: underline;
}

.news-line {
  justify-content: space-between;
}

.news {
  flex-direction: column;
  height: 15vh;
  width: 30%;
}

.news > h3 {
  font-family: sans-serif;
  margin-bottom: 2vw;
}

.news > h3 > a{
  text-decoration: none;
}

.news > h3 > a:hover{
  text-decoration: underline;
}

#news-div > hr {
  margin-top: 3vh;
  color: lighten($dark, 35%);
}

@media (max-width: 1000px) {
  #news-div {
    margin-top: 0;
    padding: 5vh 1vw 2vw 1vw;
    flex-direction: column;
    font-family: "Courier New", monospace;
  }

  #news-div > h1 {
    font-size: 6vw;
    width: 90%;
    text-align: center;
  }

  #news-div > h1 > a {
    text-decoration: none;
  }

  #news-div > h1 > a:hover {
    text-decoration: underline;
  }

  .news-line {
    justify-content: center;
    flex-direction: column;
  }

  .news {
    flex-direction: column;
    margin-left: 8vw;
    height: 25vw;
    width: 100%;
    justify-content: center;
    font-size: 3vw;
  }

  .news > h3 {
    font-family: sans-serif;
    font-size: 4vw;
    margin-bottom: 2vw;
  }

  .news > h3 > a{
    text-decoration: none;
  }

  .news > h3 > a:hover{
    text-decoration: underline;
  }

  #news-div > hr {
    width: 87%;
    margin: 3vh 0 0 3vh;
    color: lighten($dark, 35%);
    text-decoration-color: darken($dark, 5%);
  }
}