<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/application/application.css}">
    <script th:src="@{/js/home.js}"></script>
</head>
<body>
	<div class="bg-dark" id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark"  style="height: 20vw; max-height: 75px; padding: 0;">
            <a class="navbar-brand text-white" th:href="@{/}" style=""><img th:src="@{/images/logo.png}" style="height: 90%;" alt="">SoftWeb</a>
            <button class="navbar-toggler bg-danger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse  bg-dark" id="navbarSupportedContent" style="height: 100%; padding-top: 0.7vw;">
                <ul class="navbar-nav mr-auto" style="height: 100%;">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Blog</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0" id="dev-form">
                    <a class="nav-link text-white" href="#" style="height: 100%; padding: 0; margin-bottom: -1vw;"><img th:src="@{/images/user.png}" style="height: 100%; max-height: 30px; margin-right: 1vw;">Developer account</a>
                </form>
            </div>
        </nav>
    </div>
    <div class="d-flex flex-row justify-content-between" id="label-poster">
    	<div class="d-flex flex-row justify-content-between" id="label-poster-left">
    		<img class="app-preview" th:src="*{app.logoPath}">
            <div>
                <h3 class="app-label" th:text="*{app.getName()}" id="labelApp">beekeper-studio</h3>
                <span class="developer"><a href="#" th:text="*{app.getDeveloper().getUsername()}">Development</a></span>
            </div>
        </div>
    	<div class="d-flex flex-row justify-content-between" id="label-poster-right">
            <p class="d-flex flex-row justify-content-center" id="version">latest/stable: <span th:text="*{app.getApplicationsSystems().get(0).getVersion()}">4.3.1</span></p>
            <a id="load-button" th:href="*{app.getApplicationsSystems().get(0).getInstallerPath()}"><button class="btn btn-outline-success" type="submit">Download</button></a>
    	</div>
    </div>
    <div>
        <div class="containerX">
            <div class="boxX">
                <img th:src="*{app.getImages().get(0).getPath()}">
            </div>
            <div class="boxX">
                <img th:src="*{app.getImages().get(1).getPath()}">
            </div>
            <div class="boxX">
                <img th:src="*{app.getImages().get(2).getPath()}">
            </div>
        </div>
    </div>

    <div id="description-poster" class="d-flex flex-row justify-content-between">
        <div id="desc-left" class="d-flex flex-column align-content-between">
            <h1 class="label-large" th:text="${app.getShortDescription()}"></h1>
            <p class="description-large" th:text="${app.getDescription()}"></p>
        </div>
        <div id="desc-right" class="d-flex flex-column align-content-between">
            <h3 class="label-details">Details</h3>
            <h4 class="label-medium">License</h4>
            <p class="description" th:text="${app.getLicense()}"></p>
            <h4 class="label-medium">Last updated</h4>
            <p class="description" th:text="${app.getLastUpdate()}"></p>
            <h3 class="label-details">Share app</h3>
            <div class="d-flex flex-row justify-content-between" style="width: 11.5vw;">
                <div style="margin-right: 2vw;">
                    <a href="#!"><img th:src="@{/images/facebook.png}" style="width: 100%"></a>
                </div>
                <div style="margin-right: 2vw;">
                    <a href="#!"><img th:src="@{/images/instagram.png}" style="width: 100%"></a>
                </div>
                <div style="margin-right: 2vw;">
                    <a href="#!"><img th:src="@{/images/twitter.png}" style="width: 100%"></a>
                </div>
            </div>
        </div>
    </div>



    <footer class="bg-dark text-center text-white">
        <div class="container p-4 pb-0">
            <section class="mb-4">
                <a class="btn btn-outline-dark btn-floating m-1 mr-3" href="#!" role="button"
                ><img th:src="@{/images/facebook.png}"></a>

                <a class="btn btn-outline-dark btn-floating m-1 mr-3" href="#!" role="button"
                ><img th:src="@{/images/instagram.png}"></a>

                <a class="btn btn-outline-dark btn-floating m-1 mr-3" href="#!" role="button"
                ><img th:src="@{/images/twitter.png}"></a>

                <a class="btn btn-outline-dark btn-floating m-1 mr-3" href="#!" role="button"
                ><img th:src="@{/images/github.png}"></a>
            </section>
        </div>

        <div class="text-center p-3" style="background-color: #191919;">
            © 2022 Copyright:
            <a class="text-white" href="https://github.com/baixa" style="text-decoration: none;">@baixa</a>
        </div>
    </footer>


</body>
</html>