<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home/home.css}">
    <script th:src="@{/js/home.js}"></script>
</head>
<body>
    <div class="bg-dark" id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark"  style="height: 20vw; max-height: 75px; padding: 0;">
            <a class="navbar-brand text-white" href="#" style=""><img th:src="@{/images/logo.png}" style="height: 90%;" alt="">SoftWeb</a>
            <button class="navbar-toggler bg-danger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse  bg-dark" id="navbarSupportedContent" style="height: 100%; padding-top: 0.7vw;">
                <ul class="navbar-nav mr-auto" style="height: 100%;">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Blog</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0" id="dev-form">
                    <a class="nav-link text-white" href="#" style="height: 100%; padding: 0; margin-bottom: -1vw;"><img th:src="@{/images/user.png}" style="height: 100%; max-height: 30px; margin-right: 1vw;">Developer account</a>
                </form>
            </div>
        </nav>
    </div>
    <div id="poster">
        <h1 class="text-white">The app store for Windows</h1>
        <form class="form-inline" id="search">
            <input class="form-control" type="search" placeholder="Search applications" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="d-flex" id="labels">
            <h3 class="text-white">Some applications you may like</h3>
            <h3 class="d-flex text-white" id="reverse-row">View all applications ></h3>
        </div>
        <div class="d-flex flex-row app-list">
            <div class="apps-featured text-dark apps">
                <div class="app-block">
                    <img class="app-preview" th:src="*{featuredApp1.logoPath}">
                    <div class="block-right">
                        <a th:href="@{/application(id=${featuredApp1.getId()})}" class="app-label" th:text="*{featuredApp1.name}">Spotify</a>
                        <h2 class="app-developer" th:text="*{featuredApp1.getDeveloper().getUsername()}">Spotify</h2>
                        <h2 class="app-description" th:text="*{featuredApp1.getShortDescription()}">Music for everyone</h2>
                    </div>
                </div>
                <div class="app-block">
                    <img class="app-preview" th:src="*{featuredApp2.logoPath}">
                    <div class="block-right">
                        <a th:href="@{/application(id=${featuredApp2.getId()})}" class="app-label" th:text="*{featuredApp2.name}">Spotify</a>
                        <h2 class="app-developer" th:text="*{featuredApp2.getDeveloper().getUsername()}">Spotify</h2>
                        <h2 class="app-description" th:text="*{featuredApp2.getShortDescription()}">Music for everyone</h2>
                    </div>
                </div>
                <div class="app-block">
                    <img class="app-preview" th:src="*{featuredApp3.logoPath}">
                    <div class="block-right">
                        <a th:href="@{/application(id=${featuredApp3.getId()})}" class="app-label" th:text="*{featuredApp3.name}">Spotify</a>
                        <h2 class="app-developer" th:text="*{featuredApp3.getDeveloper().getUsername()}">Spotify</h2>
                        <h2 class="app-description" th:text="*{featuredApp3.getShortDescription()}">Music for everyone</h2>
                    </div>
                </div>
            </div>

            <div class="apps-development apps">
                <div class="app-block">
                    <img class="app-preview" th:src="*{featuredApp4.logoPath}">
                    <div class="block-right">
                        <a th:href="@{/application(id=${featuredApp4.getId()})}" class="app-label" th:text="*{featuredApp4.name}">Spotify</a>
                        <h2 class="app-developer" th:text="*{featuredApp4.getDeveloper().getUsername()}">Spotify</h2>
                        <h2 class="app-description" th:text="*{featuredApp4.getShortDescription()}">Music for everyone</h2>
                    </div>
                </div>
                <div class="app-block">
                    <img class="app-preview" th:src="*{featuredApp5.logoPath}">
                    <div class="block-right">
                        <a th:href="@{/application(id=${featuredApp5.getId()})}" class="app-label" th:text="*{featuredApp5.name}">Spotify</a>
                        <h2 class="app-developer" th:text="*{featuredApp5.getDeveloper().getUsername()}">Spotify</h2>
                        <h2 class="app-description" th:text="*{featuredApp5.getShortDescription()}">Music for everyone</h2>
                    </div>
                </div>
                <div class="app-block">
                    <img class="app-preview" th:src="*{featuredApp6.logoPath}">
                    <div class="block-right">
                        <a th:href="@{/application(id=${featuredApp6.getId()})}" class="app-label" th:text="*{featuredApp6.name}">Spotify</a>
                        <h2 class="app-developer" th:text="*{featuredApp6.getDeveloper().getUsername()}">Spotify</h2>
                        <h2 class="app-description" th:text="*{featuredApp6.getShortDescription()}">Music for everyone</h2>
                    </div>
                </div>
            </div>

            <div class="apps-games apps">
                <div class="app-block">
                    <img class="app-preview" th:src="*{featuredApp7.logoPath}">
                    <div class="block-right">
                        <a th:href="@{/application(id=${featuredApp7.getId()})}" class="app-label" th:text="*{featuredApp7.name}">Spotify</a>
                        <h2 class="app-developer" th:text="*{featuredApp7.getDeveloper().getUsername()}">Spotify</h2>
                        <h2 class="app-description" th:text="*{featuredApp7.getShortDescription()}">Music for everyone</h2>
                    </div>
                </div>
                <div class="app-block">
                    <img class="app-preview" th:src="*{featuredApp8.logoPath}">
                    <div class="block-right">
                        <a th:href="@{/application(id=${featuredApp8.getId()})}" class="app-label" th:text="*{featuredApp8.name}">Spotify</a>
                        <h2 class="app-developer" th:text="*{featuredApp8.getDeveloper().getUsername()}">Spotify</h2>
                        <h2 class="app-description" th:text="*{featuredApp8.getShortDescription()}">Music for everyone</h2>
                    </div>
                </div>
                <div class="app-block">
                    <img class="app-preview" th:src="*{featuredApp9.logoPath}">
                    <div class="block-right">
                        <a th:href="@{/application(id=${featuredApp9.getId()})}" class="app-label" th:text="*{featuredApp9.name}">Spotify</a>
                        <h2 class="app-developer" th:text="*{featuredApp9.getDeveloper().getUsername()}">Spotify</h2>
                        <h2 class="app-description" th:text="*{featuredApp9.getShortDescription()}">Music for everyone</h2>
                    </div>
                </div>
            </div>

            <div class="apps-server apps">
                <div class="app-block">
                    <img class="app-preview" th:src="*{featuredApp10.logoPath}">
                    <div class="block-right">
                        <a th:href="@{/application(id=${featuredApp10.getId()})}" class="app-label" th:text="*{featuredApp10.name}">Spotify</a>
                        <h2 class="app-developer" th:text="*{featuredApp10.getDeveloper().getUsername()}">Spotify</h2>
                        <h2 class="app-description" th:text="*{featuredApp10.getShortDescription()}">Music for everyone</h2>
                    </div>
                </div>
                <div class="app-block">
                    <img class="app-preview" th:src="*{featuredApp11.logoPath}">
                    <div class="block-right">
                        <a th:href="@{/application(id=${featuredApp11.getId()})}" class="app-label" th:text="*{featuredApp11.name}">Spotify</a>
                        <h2 class="app-developer" th:text="*{featuredApp11.getDeveloper().getUsername()}">Spotify</h2>
                        <h2 class="app-description" th:text="*{featuredApp11.getShortDescription()}">Music for everyone</h2>
                    </div>
                </div>
                <div class="app-block">
                    <img class="app-preview" th:src="*{featuredApp12.logoPath}">
                    <div class="block-right">
                        <a th:href="@{/application(id=${featuredApp12.getId()})}" class="app-label" th:text="*{featuredApp12.name}">Spotify</a>
                        <h2 class="app-developer" th:text="*{featuredApp12.getDeveloper().getUsername()}">Spotify</h2>
                        <h2 class="app-description" th:text="*{featuredApp12.getShortDescription()}">Music for everyone</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between categories-list">
            <div class="category">
                <div id="featured" class="apps-featured-line line"></div>
                <a id="featured" class="apps-featured-a category-a" href="#" onclick="changeCategory('apps-featured')" onmouseover="changeColor(this)" onmouseout="changeColor(this)">Featured</a>
            </div>
            <div class="category">
                <div id="dev" class="apps-development-line line"></div>
                <a id="dev" class="apps-development-a category-a" href="#" onclick="changeCategory('apps-development')" onmouseover="changeColor(this)" onmouseout="changeColor(this)">Stable</a>
            </div>
            <div class="category">
                <div id="game" class="apps-games-line line"></div>
                <a id="games" class="apps-games-a category-a" href="#" onclick="changeCategory('apps-games')" onmouseover="changeColor(this)" onmouseout="changeColor(this)">SWUR</a>
            </div>
            <div class="category">
                <div id="server" class="apps-server-line line"></div>
                <a id="server" class="apps-server-a category-a" href="#" onclick="changeCategory('apps-server')" onmouseover="changeColor(this)" onmouseout="changeColor(this)">Official</a>
            </div>
        </div>
        <button id="btn-apps" class="btn btn-outline-secondary" type="submit">Browse all apps</button>
    </div>
    <div id="publishers-div">
        <h3>OFFICIAL PUBLISHERS</h3>
        <div class="d-flex publishers-columns">
            <div class="d-flex publishers-column margin-right">
                <div class="publisher">
                    <a class="publisher-link" href="https://www.mozilla.org/ru/"><img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_146,h_145/https://assets.ubuntu.com/v1/aae93857-logo-mozilla--snapcraft-homepage.svg" alt="Mozilla"/> </a>
                </div>
                <div class="publisher">
                    <a class="publisher-link" href="https://kde.org/ru/"><img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_146,h_145/https://assets.ubuntu.com/v1/6958a93e-kde-logo-snapcraft-homepage.svg" alt="KDE"/> </a>
                </div>
                <div class="publisher">
                    <a class="publisher-link" href="https://www.jetbrains.com/"><img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_146,h_145/https://assets.ubuntu.com/v1/55f6dae7-logo-jetbrains--snapcraft-homepage.svg" alt="JetBrains"/> </a>
                </div>
            </div>
            <div class="d-flex publishers-column">
                <div class="publisher">
                    <a class="publisher-link" href="https://www.spotify.com/ru-ru/why-not-available/"><img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_146,h_145/https://assets.ubuntu.com/v1/63d5fd3f-logo-spotify--snapcraft-homepage.svg" alt="Spotify"/> </a>
                </div>
                <div class="publisher">
                    <a class="publisher-link" href="https://www.google.com/"><img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_146,h_145/https://assets.ubuntu.com/v1/2d54fa27-logo-google--snapcraft-homepage.svg" alt="Google"/> </a>
                </div>
                <div class="publisher">
                    <a class="publisher-link" href="https://www.microsoft.com/ru-ru"><img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_146,h_145/https://assets.ubuntu.com/v1/7b03d4b8-logo-microsoft--snapcraft-homepage.svg" alt="Microsoft"/> </a>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div id="news-div" class="d-flex">
        <h1>Latest news from <a href="#">our blog ›</a></h1>
        <div class="d-flex news-line">
            <div class="d-flex news">
                <h3><a class="news-link" href="#">What is new in SoftWeb 1.0.0?</a></h3>
                <span> 07 March 2022 – Jane B.</span>
            </div>
            <div class="d-flex news">
                <h3><a class="news-link" href="#">What is new in SoftWeb 1.0.0?</a></h3>
                <span> 07 March 2022 – Jane B.</span>
            </div>
            <div class="d-flex news">
                <h3><a class="news-link" href="#">What is new in SoftWeb 1.0.0?</a></h3>
                <span> 07 March 2022 – Jane B.</span>
            </div>
        </div>
        <hr>
    </div>
    <footer class="bg-dark text-center text-white">
        <div class="container p-4 pb-0">
            <section class="mb-4">
                <a class="btn btn-outline-dark btn-floating m-1 mr-3" href="#!" role="button"
                ><img th:src="@{/images/facebook.png}"></a>

                <a class="btn btn-outline-dark btn-floating m-1 mr-3" href="#!" role="button"
                ><img th:src="@{/images/instagram.png}"></a>

                <a class="btn btn-outline-dark btn-floating m-1 mr-3" href="#!" role="button"
                ><img th:src="@{/images/twitter.png}"></a>

                <a class="btn btn-outline-dark btn-floating m-1 mr-3" href="#!" role="button"
                ><img th:src="@{/images/github.png}"></a>
            </section>
        </div>

        <div class="text-center p-3" style="background-color: #191919;">
            © 2022 Copyright:
            <a class="text-white" href="https://github.com/baixa" style="text-decoration: none;">@baixa</a>
        </div>
    </footer>
</body>
</html>
