@import "../config/bootstrap-config";
#publishers-div {
  padding: 8vw 15vw 2vw 15vw;
  margin-bottom: 0;
}

#publishers-div > h3 {
  font-size: 0.8vw;
  color: lighten($dark, 35%);
}

#publishers-div > hr {
  margin-top: 3vh;
  color: lighten($dark, 35%);
}

.publishers-columns {
  margin-top: 2vw;
  width: 100%;
  justify-content: space-between;
}

.publishers-column {
  width: 46%;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  #publishers-div {
    padding: 5vh 1vw 2vw 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #publishers-div > h3 {
    text-align: center;
    font-size: 4vw;
    color: lighten($dark, 35%);
  }

  .publishers-columns {
    margin-top: 2vw;
    width: auto;
    justify-content: center;
  }

  .publisher-link > img {
    width: 35vw;
  }

  .publishers-column {
    flex-direction: column;
    width: auto;
    justify-content: space-between;
  }

  .margin-right {
    margin-right: 8vw;
  }

  #publishers-div > hr {
    width: 87%;
    margin: 3vh 0 0 3vh;
    color: lighten($dark, 35%);
  }
}